{% extends "base.html" %}

{% block body %}


<div class="ui message">

<h3 class="ui header">
            <i class="ui calendar check icon"></i>
            <div class="content"> 
            Bienvenue !
           <div class="sub header">Cette application vous permet de vous inscrire à notre prochaine flashmob.</div>
           <div class="ui button"> <a href=  /InscriptionsController/inscription/> Inscription </a></div>
           
           </div>
        </h3>
        </div>

{% endblock %}