{% extends "base.html" %}

{% block body %}

<div class="ui message">
<form class="ui form" action="/inscriptions/do/" method="get">
<div class="two fields">
<div class="field">
    <label>Nom ou pseudo</label>
    <input type="text" placeholder="Votre nom">
      </div>
      <div class="field">
      <label>Adresse mail</label>
        <input type="text" placeholder="Votre email">
      </div>
     
    </div>
</form>

<button class="ui button">  Valider l'inscription </div>

</div>
{% endblock %}